body, div, p {
  margin: 0px;
  padding: 0px;
}

body {
  color: #3E3D40;
  background-color: #EDEDED;
  font-family: "Tahoma";
  font-size: 0.9em;
}

#credits {
  bottom: 0px;
  font-size: 12px;
  position: fixed;
  right: 0px;
}

#config {
  float: left;
}

#input {
  border: 1px solid red;
  padding: 1em;
}

#filter {
  border: 1px solid red;
  padding: 1em;
}

#output {
  border: 1px solid red;
  padding: 1em;
}

#list {
  border: 1px solid blue;
  float: left;
  display: inline-block;
  width: 450px;
}

#library {
  float: right;
  border: 1px solid red;
  padding: 0.5em;
}
#library-title {
  border: 1px solid pink;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.2em;
}
.library-category {
  
}
.library-category-name {
  border: 1px solid blue;
  font-size: 1em;
  font-weight: bold;
  padding: 0.2em;
}
.library-category-list {
  border: 1px solid green;
  padding: 0.2em;
}
.library-item {
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.33s;
  border: 1px solid orange;
  padding: 0.1em 0.3em;
}
.library-item:hover {
  background-color: #B0B0B0;
  cursor: pointer;
}

#input-type-list-box {
  
}
#input-type-list {
  
}
#input-type-list > .input-type {
  
}



.tweet-box {
  border: 1px solid green;
  display: block;
  padding: 0.4em;
}
.tweet-box ~ .tweet-box {
  margin-top: 0.4em;
}

.tweet-data {
  border: 1px solid orange;
}

.tweet-author {
  border: 1px solid orange;
  padding: 0.2em;
}

.tweet {
  border: 1px solid red;
  padding: 0.2em;
}


#workspace {
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px #3E3D40;
  display: inline-block;
  height: 500px;
  margin: 10px;
  padding: 5px;
  position: relative;
  width: 600px;
}
#workCanvas {
  height: 500px;
  pointer-events: none;
  position: absolute;
  width: 600px;
}
#workHtml {
  position: absolute;
}

.work-item {
  background-color: grey;
  border: 1px solid red;
  height: 50px;
  width: 50px;
}
.work-item:hover {
  border-width: 2px;
}

#item1 {
  left: 134px;
  position: absolute;
  top: 403px;
}

#item2 {
  left: 376px;
  position: absolute;
  top: 98px;
}

