body, div, p {
  margin: 0px;
  padding: 0px;
}

body {
  color: #3E3D40;
  background-color: #EDEDED;
  font-family: "Tahoma";
  font-size: 0.9em;
}

#debugbar {
  border-bottom: 1px solid #3E3D40;
  margin-bottom: 0.5em;
  padding: 0.1em 2em;
}

#credits {
  bottom: 0px;
  font-size: 12px;
  position: fixed;
  right: 0px;
}

#collection {
  border-radius: 1px;
  border: 1px solid #3E3D40;
  box-shadow: 0px 0px 3px 0px #3E3D40;
  float: left;
  margin: 3px 10px 3px 3px;
  padding: 0.5em 0em;
}

.collection-category {
  border-top: 3px solid #3E3D40;
  border-bottom: 3px solid #3E3D40;
}
.collection-category ~ .collection-category {
  margin-top: 2em;
}

.collection-title {
  border-bottom: 1px solid #3E3D40;
  font-weight: bold;
  padding: 0.2em 0.2em;
}

.collection-item {
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.33s;
  padding: 0.2em 0.5em;
  margin: 0.2em 0em;
}
.collection-item ~ .collection-item {
  border-top: 1px solid #3E3D40;
}
.collection-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#processes {
  
}

#processes > .process {
  
}


#list {
  border: 1px solid blue;
  float: left;
  display: inline-block;
  width: 450px;
}

#library {
  float: right;
  border: 1px solid red;
  padding: 0.5em;
}
#library-title {
  border: 1px solid pink;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.2em;
}
.library-category {
  
}
.library-category-name {
  border: 1px solid blue;
  font-size: 1em;
  font-weight: bold;
  padding: 0.2em;
}
.library-category-list {
  border: 1px solid green;
  padding: 0.2em;
}
.library-item {
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.33s;
  border: 1px solid orange;
  padding: 0.1em 0.3em;
}
.library-item:hover {
  background-color: #B0B0B0;
  cursor: pointer;
}

#input-type-list-box {
  
}
#input-type-list {
  
}
#input-type-list > .input-type {
  
}



.tweet-box {
  border: 1px solid green;
  display: block;
  padding: 0.4em;
}
.tweet-box ~ .tweet-box {
  margin-top: 0.4em;
}

.tweet-data {
  border: 1px solid orange;
}

.tweet-author {
  border: 1px solid orange;
  padding: 0.2em;
}

.tweet {
  border: 1px solid red;
  padding: 0.2em;
}


#workspaceZone {
  float: left;
}

#workspace {
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px #3E3D40;
  display: inline-block;
  height: 500px;
  margin: 10px;
  padding: 5px;
  position: relative;
  width: 600px;
}
#workCanvas {
  pointer-events: none;
  position: absolute;
}
#workHtml {
  height: 500px;
  position: absolute;
  width: 600px;
}

.workspace-item {
  background-color: white;
  border-radius: 8px 8px 3px 3px;
  border: 1px solid #3E3D40;
  box-shadow: 0px 1px 2px 0px #3E3D40;
  float: left;
  max-height: 200px;
  max-width: 200px;
  min-height: 50px;
  min-width: 50px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}
.workspace-item:hover {
  box-shadow: 0px 1px 4px 0px #3E3D40;
}
.workspace-item.item-type-input {
  
}
.workspace-item.item-type-input:hover {
  box-shadow: 0px 1px 4px 0px #A6D25E;
}
.workspace-item.item-type-filter {
  
}
.workspace-item.item-type-filter:hover {
  box-shadow: 0px 1px 4px 0px #91D3EB;
}
.workspace-item.item-type-output {
  
}
.workspace-item.item-type-output:hover {
  box-shadow: 0px 1px 4px 0px #FE8841;
}
.workspace-item-title {
  border-bottom: 2px solid #3E3D40;
  padding: 0.2em 0.3em;
  text-align: center;
  white-space: nowrap;
}
.workspace-item-title:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.workspace-item.item-type-input .workspace-item-title {
  background-color: #A6D25E;
}
.workspace-item.item-type-input:hover .workspace-item-title {
  
}
.workspace-item.item-type-filter .workspace-item-title {
  background-color: #91D3EB;
}
.workspace-item.item-type-filter:hover .workspace-item-title {
  
}
.workspace-item.item-type-output .workspace-item-title {
  background-color: #FE8841;
}
.workspace-item.item-type-output:hover .workspace-item-title {
  
}
.workspace-item-icon {
  
}
.type-global .workspace-item-icon {
  
}
.type-from_user .workspace-item-icon {
  
}
.type-DOM .workspace-item-icon {
  
}
.workspace-item-content {
  padding: 0.3em;
}
/*
#item1 {
  left: 134px;
  position: absolute;
  top: 403px;
}

#item2 {
  left: 376px;
  position: absolute;
  top: 98px;
}
*/